<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理系统模板HTML登录界面 - 源码之家</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="/i/favicon.png">
    <link rel="stylesheet" href="/css/amazeui.min.css"/>
    <script src="/js/jquery.min.js"></script>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <hr/>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>登录</h3>
        <hr>
        <div class="am-btn-group">
            <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
            <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i>
                Google+</a>
            <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i>
                stackOverflow</a>
        </div>
        <br>
        <br>

        <form method="post" action="/account/login" class="am-form">
            <label for="admin_name">用户名:</label>
            <input type="text" name="" value="admin" id="admin_name" placeholder="请输入用户名" value="">
            <br>
            <label for="admin_pwd">密码:</label>
            <input type="password" value="root" name="" id="admin_pwd" placeholder="请输入密码" value="">
            <br>
            <label for="vcode">验证码:</label>
            <input type="text" name="" id="vcode" value="">
            <img id="vcodeimg" src="/account/vcode"/>
            <br>
            <label for="remember-me">
                <input id="remember-me" type="checkbox">
                记住密码
            </label>
            <br/>
            <div class="am-cf">
                <input type="button" onclick="login()" name="" value="登 录"
                       class="am-btn am-btn-primary am-btn-sm am-fl">
                <input style="margin-left:10px;" type="button" name="" value="注 册"
                       onclick="location.href='/account/register';" class="am-btn am-btn-default am-btn-sm am-fl">
            </div>
        </form>
    </div>
</div>
</body>
</html>
<script>
	$("#vcodeimg").click(function () {
		$("#vcodeimg").attr('src', '/account/vcode?vid=' + Math.random());
	});

	//登录
	function login() {
		var admin_name = $("#admin_name").val();
		var admin_pwd = $("#admin_pwd").val();
		var vcode = $("#vcode").val();

		//发送post请求
		$.ajax({
			method: "post",
			data: "admin_name=" + admin_name + "&admin_pwd=" + admin_pwd + "&vcode=" + vcode,
			success: function (obj) {
				if (obj.status === 1) {
					location.href = '/student/list';
				} else {
					$("#vcodeimg").attr('src', '/account/vcode?vid=' + Math.random());
					alert(obj.message);
				}
			},
			error: function (err) {
				console.log(err);
			}
		});
	}
</script>


















