<a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>控制面板</a>
<ul id="dashboard-menu" class="nav nav-list collapse in">
    <li><a ui-sref="main">首页</a></li>
    <li ><a href="list.html">管理员</a></li>
    <li ><a ui-sref="article_list">文章管理</a></li>
    <li ><a ui-sref="article_cate">文章分类</a></li>
    <li ><a ui-sref="food_list">食品管理</a></li>
    <li ><a ui-sref="food_list_cate">食品分类管理</a></li>
    <li ><a ui-sref="shop_list">店面管理</a></li>
    <li ><a ui-sref="region_list">地区管理</a></li>
    <li ><a ui-sref="link_list">友情链接</a></li>
    <li ><a ui-sref="company_list">公司管理</a></li>
    <li ><a ui-sref="system">系统配置</a></li>
</ul>