header {
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0px;
    background: #e68866;
}

header .title {
    position: relative;
}


header .title h1 {
    font-size: 72px;
    color: #fff;
    /* padding-top: 67px; */
    /* padding-bottom: 20px; */
    padding-top: 28px;
    padding-bottom: 10px;
	text-align: center;
    font-family: Met;
    text-align: center;
    text-shadow: 0px 4px 0px #c57457;
}

header .title .all_btn {
    position: absolute;
    bottom: 20px;
    left: 35px;
    transition: transform 0.3s linear;
}

header .title .all_btn span {
    height: 4px;
    width: 50px;
    border-radius: 4px;
    background: #fff;
    display: block;
    margin-bottom: 12px;
    box-shadow: 0px 3px 0px 0px #bd7054;
}

body {
    background: #dbd4cc;
}

.container {
    margin: 20px 8px;
}

.show {
    width: 100%;
}

.show .alba_bg img ,
.show .shawn_bg img ,
.show .fruit_bg img {
    width: 100%;
}

.alba_all ,
.shawn_all ,
.fruit_all {
	position: relative;
}
.alba ,
.shawn ,
.fruit{
	/* border: 1px solid #000; */
	height: 94px;
	/* overflow: hidden; */
	width: calc(100% - 16px);
	position: absolute;
	bottom: 16px;
}
.alba_icon img ,
.shawn_icon img ,
.fruit_icon img {
	width: 100%;
}
.alba_icon ,
.shawn_icon ,
.fruit_icon{
	overflow: hidden;
	height: 88px;
	width: 88px;
	border: 4px solid #fff;
	border-radius: 50%;
	float: left;
	margin-right: 24px;
	margin-left: 22px;
}
.alba_text h3 ,
.shawn_text h3 ,
.fruit_text h3 {
	font-size: 30px;
	color: #fff;
	line-height: 24px;
	margin-top: 18px;
	margin-bottom: 15px;
}
.alba_text p ,
.shawn_text p ,
.fruit_text p{
	text-indent: 25px;
	line-height: 24px;
	color: #a49f99;
	display: inline-block;
	font-size: 24px;
	/* width: 400px; */
	text-align: left;
	background: url('../images/map.png') no-repeat left center;
}

.alba_text span,
.shawn_text span,
.fruit_text span {
	color: #a49f99;
	font-size: 24px;
	width: 87px;
	float: right;
	display: inline-block;
	background: url('../images/time.png') no-repeat left center;
	text-indent: 30px;
	text-align: left;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#all_btn {
	display: none;
}
#all_btn:checked + .feed_all .feed_content header label[class="all_btn"] {
	/* transform: rotate(90deg); */
}
#all_btn:checked + .feed_all {
	margin-left: 495px;
}
#all_btn:checked + .feed_all .feed_aside {

}
#all_btn:checked + .feed_all .feed_content .menu {
	position: static;
	margin-top: 20px;
	/* top: 1200px; */
	/* left: 0px; */
	/* display: none; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.feed_viewport {
	width: 640px;
	/* height: auto; */
	/* height: 1136px; */
	margin-left: -494px;
}
.feed_all {
	width: calc(100% + 494px);
	transition: all 0.4s ease-in-out;
}
.feed_all::after {
	content: "";
	overflow: hidden;
	height: 0px;
	display: block;
	clear: both;
}

.feed_content {
	width: 640px;
	float:right;
	position: relative;
	/* overflow: hidden; */
}
.menu {
	width: 100%;
	background: #695f56;
	/* height: 98px; */
	position: fixed;
	bottom: 0px;
	/* top: 1030px; */
	right: 0px;
}
.feed_aside {
	width: 494px;
	float: left;
	overflow: hidden;
	padding-bottom: 85px;
	/* margin-top: 100px; */
	background: #696056;
	padding-top: 17px;
}
.feed_aside .seek input::placeholder {
	color: #a49f99;
}
.feed_aside .seek input {
	width: 454px;
	height: 58px;
	border: 2px solid #595148;
	background: #5e564d;
	border-radius: 58px;
	background: url('../images/search.png') no-repeat 20px center;
	color: #a49f99;
	outline: none;
	font-size: 28px;
	text-indent:60px;
	margin-left: 20px;
	margin-bottom: 32px;
}
.info {
    width: 210px;
    height: 300px;
    margin: 0 auto;
}

.info .head {
    height: 190px;
    width: 190px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    overflow: hidden;
}
.info .head img {
	width: 100%;
}

.info h3 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 15px;
}

.info p {
    font-size: 24px;
    color: #ccc;
    line-height: 24px;
    text-align: center;
    text-indent: 25px;
    background: url('../images/map.png') no-repeat 5px center;
}
.info_slide {
	width: 494px;
	overflow: hidden;
}
.info_slide input {
	display: none;
}
.info_content {
	width: calc(494px * 2);
	transition: all 0.6s ease-in-out;
}
.info_content::after {
	content: "";
	display: block;
	clear: both;
}
.info {
	float: left;
	margin: 0 142px;
}
.info_list {
	margin-top: 42px;
	margin-left: 232px;
	margin-bottom: 50px;
}
.info_list label {
	height: 10px;
	width: 10px;
	background: #554d45;
	display: inline-block;
	border-radius: 50%;
}
input[id="info_btn1"]:checked ~ .info_list label[class="info_btn1"] {
	background: #fff;
}
input[id="info_btn2"]:checked ~ .info_list label[class="info_btn2"] {
	background: #fff;
}
input[id="info_btn1"]:checked ~ .info_content {
	margin-left: 0px;
}
input[id="info_btn2"]:checked ~ .info_content {
	margin-left: -494px;
}
.select input {
	display: none;
}
.select ul li label,
.select ul li label a {
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	display: block;
	border-top: 2px solid #60574e;
	line-height: 90px;
	width: 454px;
	margin: 0 auto;
	text-indent: 123px;
	transition: all 0.2s linear
}
.select ul li:nth-child(1) label {
	background: url('../images/feed_list1.png') no-repeat 23px center;
}
.select ul li:nth-child(2) label {
	background: url('../images/feed_list2.png') no-repeat 23px center;
}
.select ul li:nth-child(3) label {
	background: url('../images/feed_list3.png') no-repeat 23px center;
}
.select ul li:nth-child(4) label {
	background: url('../images/feed_list4.png') no-repeat 23px center;
}
.select ul li:nth-child(5) label {
	border-bottom: 2px solid #60574e;
	background: url('../images/feed_list5.png') no-repeat 23px center;
}
#select1:checked ~ ul li label[class="select1"] {
	background-color: #786f67;
}
#select2:checked ~ ul li label[class="select2"] {
	background-color: #786f67;
}
#select3:checked ~ ul li label[class="select3"] {
	background-color: #786f67;
}
#select4:checked ~ ul li label[class="select4"] {
	background-color: #786f67;
}
#select5:checked ~ ul li label[class="select5"] {
	background-color: #786f67;
}

