{{extend ('../layout.html')}} 

{{#block ("body")}}
<div class="main-container">
	<div class="padding-md">
		<ul class="breadcrumb">
			<li>
				<span class="primary-font">
					<i class="icon-home"></i>
				</span>
				<a href="/"> Home</a>
			</li>
			<li>账号列表</li>
		</ul>

		<table class="table table-striped" id="dataTable">
			<thead>
				<tr>
					<th>
						<input type="checkbox" name="" id="alldel">
					</th>
					<th>ID</th>
					<th>账号</th>
					<th>权限</th>
					<th>用户</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<form method="POST" action="/account/account_delete">
					{{#each(array)}}
					<tr>
						<td>
							<input type="checkbox" name="account_id" value="{{this.account_id}}">
						</td>
						<td>{{this.account_id}}</td>
						<td>{{this.account_account}}</td>
						<td>{{this.role_name}}</td>
						<td>{{this.user_name}}</td>
						<td>
							<a href="/account/account_edit/{{this.account_id}}">编辑</a>
							<a onclick="return confirm('是否确认删除');" href="/account/account_delete/{{this.account_id}}">删除</a>

						</td>
					</tr>
					{{/each}}
					<button>删除</button>
				</form>
			</tbody>
		</table>

		{{include ("../common/page.html")}}
	</div>
	<!-- ./padding-md -->
</div>
<!-- /main-container -->
{{/block}}
<script>
	//反选和全选
	$("#alldel").click(function(){
		$("input[name=account_id]").each(function(){
			if(this.checked)
			{
				this.checked = false;
			}else{
				this.checked = true;
			}
		});
	});
</script>
