/*
* @Author: chenjian
* @Date:   2018-05-22 09:33:56
* @Last Modified by:   chenjian
* @Last Modified time: 2018-05-22 09:38:15
*/

* {
	padding: 0;
	margin: 0;
}
ul , ol , li {
	list-style: none;
}
span , a ,label {
	display: inline-block
}
a {
	text-decoration: none !important;
}
img {
	display: block;
}