{{extend ('../layout.html')}} {{#block ("body")}}
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li>
                <span class="primary-font">
                    <i class="icon-home"></i>
                </span>
                <a href="/"> Home</a>
            </li>
            <li>班级作业列表</li>
            <div style="float:right;margin-right:5%;margin-top:-5px;" class="search-input-wrapper">
                <div class="search-input">
                    <input id="search_text" type="text" class="form-control input-sm inline-block">
                    <a id="search_btn" href="javascript:void(0)" class="input-icon text-normal">
                        <i class="ion-ios7-search-strong"></i>
                    </a>
                </div>
            </div>
        </ul>

        <form method="POST" action="/homework/homework_delete">
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="" id="alldel">
                        </th>
                        <th>ID</th>
                        <th>作业标题</th>
                        <th>作业时间</th>
                        <th>布置老师</th>
                        <th>布置班级</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each(array)}}
                    <tr>
                        <td>
                            <input type="checkbox" name="homework_id" value="{{this.homework_id}}">
                        </td>
                        <td>{{this.homework_id}}</td>
                        <td>{{this.homework_name}}</td>
                        <td class="data_time" data-time="{{this.homework_time}}"></td>
                        <td>{{this.user_name}}</td>
                        <td>{{this.class_name}}</td>
                        <td>
                            <a href="/homework/homework_edit/{{this.homework_id}}">编辑</a>
                            <a onclick="return confirm('是否确认删除');" href="/homework/homework_delete/{{this.homework_id}}">删除</a>

                        </td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td colspan="5">
                            <button id="deleteBtn" type="submit" class="btn btn-danger marginTB-xs">批量删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

        {{include ("../common/page.html")}}
    </div>
    <!-- ./padding-md -->
</div>
<!-- /main-container -->
{{/block}}
<script>
    //反选和全选
    $("#alldel").click(function () {
        $("input[name=homework_id]").each(function () {
            if (this.checked) {
                this.checked = false;
            } else {
                this.checked = true;
            }
        });
    });
    //判断是否有选择
    $("#deleteBtn").click(function () {

        var number = 0;
        $("input[name='homework_id']").each(function () {
            if (this.checked) {
                number++;
            }
        });

        if (number <= 0) {
            alert('未选择删除的管理员，请选择');
            return false;
        } else {
            if (!confirm('是否确认批量删除？')) {
                return false;
            }
        }

        return true;
    });
    $("#search_btn").click(function () {
        let text = $("#search_text").val();
        window.location.href = `/homework/homework_list?text=${text}`;
        return false;
    });
    $("#search_text").keydown(function (e) {
        let event = e || window.e;
        if (event.keyCode === 13) {
            let text = $("#search_text").val();
            window.location.href = `/homework/homework_list?text=${text}`;
            return false;
        }
    });
</script>
<script>
    $(document).ready(function () {
        var data_time = $(".data_time");

        data_time.each(function (item) {
            var date = timestampToTime(this.dataset.time);
            this.innerHTML = "";
            this.innerHTML = date;
        });

        function timestampToTime(timestamp) {
            var date = new Date(timestamp * 1000); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
            Y = date.getFullYear() + '-';
            M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            D = date.getDate() + ' ';
            h = date.getHours() + ':';
            m = date.getMinutes();
            return Y + M + D + h + m;
        }
    });
</script>