/*
* @Author: chenjian
* @Date:   2018-04-16 13:57:25
* @Last Modified by:   chenjian
* @Last Modified time: 2018-04-19 10:20:59
*/

.family_download {
    width: 100%;
    font-family: YaHei;
    background: #8bc01f;
    float: left;
    padding-top: 110px;
}

.family_box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 85px;
    background: url('../images/family_download.png') no-repeat;
    background-position: right 0%;
    background-size: 40%;
}

.family_text {
    width: 45%;
}

.family_title h1 {
    font-size: 42.67px;
    color: #fff;
}

.family_title h1 span {
    display: inline-block;
    height: 47px;
    width: 50px;
    background: #fff;
    margin-right: 5px;
    border-radius: 2px;
    line-height: 47px;
    color: #8bc01f;
    text-align: center;
    margin-bottom: 20px;
}

.family_title h4 {
    color: #fff;
    margin-bottom: 60px;
    margin-left: 12px;
    font-size: 21.37px;
}

.family_aside p {
    color: #fff;
    font-size: 12.52px;
    margin-bottom: 29px;
}

.family_text .download a {
    height: 30px;
    width: 90px;
    background: #e8f2d2;
    color: #8bc01f;
    text-align: center;
    line-height: 30px;
    font-size: 12.45px;
    border-radius: 5px;
}


/* family end */

.family_player {
    width: 100%;
    padding-top: 66px;
    background: #3393df;
    color: #fff;
    float: left;
    font-family: YaHei;
}

.player_box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 120px;
    background: url('../images/family_player_1.png') no-repeat left 35%,
    url('../images/family_player_2.png') no-repeat 95% 80%;
}

.player_title h1 {
    margin-bottom: 16px;
    font-size: 42.67px;
}

.player_main {
    width: 30%;
    margin: 0 auto;
}

.player_main h4 {
    font-size: 21.34px;
    margin-bottom: 16px;
    margin-top: 30px;
}

.player_main p {
    font-size: 12.45px;
    line-height: 27px;
}

.player_title h1 span {
    display: inline-block;
    height: 47px;
    width: 50px;
    background: #fff;
    margin-right: 5px;
    border-radius: 2px;
    line-height: 47px;
    color: #3393df;
    text-align: center;
    margin-bottom: 20px;
}
/* player end */

.family_middle{
	width: 100%;
	float: left;
	font-family: YaHei;
}
.middle_box {
	width: 80%;
	margin: 0 10%;
	float: left;
	padding-bottom: 236px;
	background: url('../images/family_pic_1.png') no-repeat 18% 88%,
	url('../images/family_pic_2.png') no-repeat 81% 88%
}
.middle_left_title,
.middle_right_title,
.below_left_title,
.below_right_title{
	padding-top: 80px;
}

.middle_left_title h1,
.middle_right_title h1,
.below_left_title h1,
.below_right_title h1{
	font-size: 37.34px;
	color: #3393df;
	margin-bottom: 21px;
}
.middle_left ,
.below_left{
	width: 45%;
	float: left;
}
.middle_right ,
.below_right{
	width: 45%;
	float: right;
}

.middle_left_title h1 span,
.middle_right_title h1 span,
.below_left_title h1 span,
.below_right_title h1 span  {
    display: inline-block;
    height: 47px;
    width: 50px;
    background: #3393df;
    margin-right: 5px;
    border-radius: 2px;
    line-height: 47px;
    color: #fff;
    text-align: center;
}
.middle_left h4,
.middle_right h4,
.below_left h4,
.below_right h4{
	color: #5d5d5d;
	font-size: 16px;
	
}
.middle_left .s1 ,
.middle_right .s1,
.below_left .s1 ,
.below_right .s1{
	font-size: 16px;
	color: #3393df;
	display: block;
	margin-top: 34px;
	margin-bottom: 19px;
}
.middle_left p ,
.middle_right p,
.below_left p ,
.below_right p{
	font-size: 12.45px;
	text-indent: 15px;
	line-height: 22px;
	color: #5d5d5d;
}


.below_box {
	width: 80%;
	margin: 0 10%;
	float: left;
	padding-bottom: 236px;
	background: url('../images/family_pic_3.png') no-repeat 16% 85%,
	url('../images/family_pic_4.png') no-repeat 79% 85%
}

.family_below {
	width: 100%;
	float: left;
	font-family: YaHei;
	background: #f7f7f7
}

/* E N D */














































