.banner {
  height: 350px;
  width: 100%;
  background: url("../images/index_banner.png") no-repeat center center; }
  .banner::after {
    display: block;
    content: "";
    clear: both; }
  .banner .logo {
    padding-top: 25px;
    padding-left: 80px;
    float: left; }
  .banner nav {
    width: 280px;
    float: right;
    padding-top: 25px;
    padding-right: 60px; }
    .banner nav ul {
      float: left; }
      .banner nav ul li {
        margin-left: 20px;
        color: #fff;
        font-size: 12px;
        display: inline-block; }
    .banner nav .pull_down {
      float: right; }
      .banner nav .pull_down span {
        width: 30px;
        height: 5px;
        background: #fff;
        display: block;
        margin-bottom: 5px; }
  .banner .banner_text {
    text-align: center;
    color: #fff; }
    .banner .banner_text p {
      margin-top: 30px;
      font-size: 14.4px; }
    .banner .banner_text h1 {
      font-size: 40px; }
    .banner .banner_text div {
      margin: 15px 0; }
      .banner .banner_text div a {
        display: block;
        color: #fff;
        font-size: 7.2px;
        width: 150px;
        height: 40px;
        line-height: 40px;
        border: 2px solid #fff;
        margin: 0 auto; }

.index_circle {
  padding: 40px 20px; }
  .index_circle ul li {
    text-align: center; }
    .index_circle ul li div {
      height: 44px;
      width: 44px;
      margin: 0 auto;
      border: 1px solid #636161;
      border-radius: 50%;
      overflow: hidden;
      background: url("../images/index_circle.png") no-repeat center center; }
    .index_circle ul li span {
      color: #000000;
      font-size: 15px;
      position: relative;
      margin-top: 10px;
      margin-bottom: 5px; }
      .index_circle ul li span::after {
        content: "";
        height: 2px;
        width: 40px;
        background: #f57365;
        top: -5px;
        left: 29px;
        position: absolute; }
    .index_circle ul li p {
      color: #000;
      font-size: 10px; }

.phone {
  height: 350px;
  width: 100%;
  background: url("../images/phone.png") no-repeat 80px 35px;
  background-color: #f7f7f7; }
  .phone .phone_text {
    padding-top: 55px;
    padding-right: 60px;
    text-align: left; }
    .phone .phone_text span {
      color: #000;
      font-size: 14px;
      margin-bottom: 10px;
      position: relative; }
      .phone .phone_text span::after {
        content: "";
        height: 2px;
        width: 40px;
        background: #f57365;
        top: 20px;
        left: 0px;
        position: absolute; }
    .phone .phone_text p {
      color: #000;
      font-size: 8px; }
    .phone .phone_text .phone_btn img {
      display: inline-block; }

.people {
  width: 100%;
  height: 185px;
  padding-top: 33px;
  background: url("../images/people_bg.png") no-repeat; }
  .people .people_icon {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px; }
  .people p {
    padding: 0px 135px;
    text-align: center;
    color: #fff;
    font-size: 12px; }

.index_food {
  padding-top: 40px; }
  .index_food h1 {
    text-align: center;
    color: #000;
    font-size: 10px;
    position: relative;
    margin-bottom: 20px; }
    .index_food h1::after {
      content: "";
      height: 2px;
      width: 40px;
      background: #f57365;
      top: 18px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute; }
  .index_food .food_list {
    display: flex;
    flex-wrap: wrap; }
    .index_food .food_list li {
      flex-basis: 20%; }
      .index_food .food_list li img {
        display: block; }
  .index_food .food_number {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    text-align: center;
    border-bottom: 2px solid #e1e1e1; }
    .index_food .food_number p {
      font-size: 15px;
      color: #000;
      font-weight: bolder; }
    .index_food .food_number span {
      color: #000;
      font-size: 10px; }

footer {
  background: #f7f7f7;
  height: 36px;
  padding: 0 40px; }
  footer p {
    font-size: 10px;
    line-height: 36px;
    color: #8b8b8b; }
    footer p span {
      color: #000;
      display: inline-block; }
