/*
* @Author: ChrisChen
* @Date:   2018-04-27 19:16:25
* @Last Modified by:   ChrisChen
* @Last Modified time: 2018-05-02 09:36:49
*/
body {
	background: #f4f4f4
}
.next_title {
	width: 85%;
	text-align: center;
	margin: 0 auto;
}
.next_title h1 {
	font-size: 30px;
	color: #2190c1;
	padding: 36px 0px;
}
.next_title p {
	color: #515862;
	font-size: 25px;
}
.next_icon h5 {
	margin-top: 55px;
	margin-bottom: 29px;
	font-size: 14px;
	text-align: center;
	color: #f98561;
}
.next_icon .icon_list {
	display: flex;
	justify-content: center;
}
.next_icon .icon_list li {
	margin-left: 5px;
	filter: grayscale(100%);
}
.next_icon input {
	display: none;
}
.next_icon .icon_list li p {
	background: #f98561;
	cursor: pointer;
	text-align: center;
	padding: 5px 0px;
	margin-top: 15px;
}
#icon_btn1:checked ~ .icon_list li:nth-child(1) {
	filter: none;
	color: #fff;
	font-weight: bold;
}
#icon_btn2:checked ~ .icon_list li:nth-child(2) {
	filter: none;
	color: #fff;
	font-weight: bold;
}
#icon_btn3:checked ~ .icon_list li:nth-child(3) {
	filter: none;
	color: #fff;
	font-weight: bold;
}



.about_title {
	width: 100%;
	padding-top: 15px;
}
.about_title h1 {
	font-size: 45px;	
	text-align: center;
	color: #2190c1;
	padding-bottom: 40px;
}
.about_nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 36px;
}
.about_nav li {
	float:left;
	padding: 0 15px;
	height: 25px;
	margin: 10px 0px;
	line-height: 25px;
	border-right: 1px solid #ccc;
	color: #515862;
	font-size: 16px;
	cursor: pointer;
}
.about_nav li:hover {
	color: #2190c1;
}
.about_nav li:last-child {
	border: none;
}
.about_nav li:last-child div {
	float: left;
	margin-left: 15px;
	cursor: pointer;
}
.about_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.about_list li {
	flex-basis: 28%;
	border: 12px solid #fff;
	box-sizing: border-box;
	margin-right: 15px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.about_list li img {
	width: 100%;
}
.about_list li:hover .img_info {
	bottom: 0;
}
.about_list li:hover .about_img {
	filter: blur(2px);
}
.img_info {
	background: #aaaaaa;
	width: 100%;
	box-sizing: border-box;
	padding: 29px 40px 41px 23px;
	position: absolute;
	bottom: -300px;
	transition: all 0.3s ease-in-out;
}
.img_info h3 {
	margin-bottom: 20px;
	color: #f0f0f0;
	font-size: 18px;
	text-align: center;
}
.img_info p {
	color: #f0f0f0;
	font-size: 11px;
	text-align: center;
}
.img_info a {
	border: 1px solid #ffffff;
	padding: 6px 25px;
	border-radius: 5px;
	text-indent:25px;
	background: url('../images/img_info.png') no-repeat 5px center;
	margin-top: 15px;
	margin-left: 35px;
	color: #fff;
	font-size: 17px;
}



/*  */
.clients {
	width: 100%;
	margin-top: 50px;
	padding-bottom: 35px;
	border-top: 1px solid #b2d5e4;
	border-bottom: 2px solid #b2d5e4;
}
.clients_title {
	font-size: 27px;
	color: #2190c1;
	text-align: center;
	padding-top: 32px;
}
.clients_text {
	display: flex;
	justify-content: space-around;
	margin-top: 35px;
}
.clients_text li:nth-child(2),
.clients_text li:nth-child(3),
.clients_text li:nth-child(5),
.clients_text li:nth-child(6) {
	text-indent: 24px;
	background: url('../images/clients_list.png') no-repeat left center
}



















