/*
* @Author: chenjian
* @Date:   2018-04-17 12:55:10
* @Last Modified by:   chenjian
* @Last Modified time: 2018-04-19 11:08:27
*/


.news {
	width: 100%;
	font-family: YaHei;
	clear: both;
	padding-top: 90px;
}

.news_box {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.news_slide {
	margin-top: 34px;
}
.news_slide ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.news_title h1 {
	font-size: 26.67px;
	color: #ff6b08;
}
.news_slide ul li {
	position: relative;
	width: 268px;
	height: 160px;
	cursor: pointer;
	margin-bottom: 25px;
}
.news_slide ul li div {
	border: 1px solid #dedede;
	box-sizing: border-box;
	border-radius: 2px;
	position: absolute;
}
.news_slide ul li p {
	font-size: 12.45px;
	position: absolute;
	bottom: -40px;
	left: 1px;
	text-indent: 20px;
	height: 35px;
	width: 268px;
	color: transparent;
	line-height: 35px;
	transition: all 0.3s linear;
}
.news_slide ul li:hover p {
	bottom: -5px;
	color: #fff;
	background: rgba(102, 102, 102, 0.6);
}
.news_slide ul li:hover .slide_img img {
	filter: blur(2px);
}

/* news end */

.news_list {
	font-family: YaHei;
}

.list_box {
	width: 80%;
	margin:0 auto;
	position: relative;
	margin-bottom: 40px;
}

.list_box ul li {
	width: 100%;
	padding-bottom: 25px;
	cursor: pointer;
}

.list_box ul li .list_img {
	float: left;
	margin-right: 26px;
}
.list_box ul li .list_text {
}
.list_box ul li .list_text h5 {
	color: #ff6900;
	font-size: 16px;
}
.list_box ul li .list_text span {
	color: #2a2a2a;
	font-size: 12.45px;
	margin-top: 16px;
	margin-bottom: 20px;
}
.list_box ul li .list_text p {
	color: #2a2a2a;
	line-height: 20px;
	font-size: 12.45px;
}
.list_box ul li .list_text a {
	float: right;
	width: 87px;
	height: 28px;
	border: 1px solid #ff6900;
	color: #ff6900;
	text-align: center;
	line-height: 28px;
	border-radius: 20px;
	font-size: 12.45px;
	transition:all 0.3s linear;
}

.list_box ul li .list_text a:hover {
	color: #fff;
	background: #ff6900;
}


.page_1,
.page_2 {
	/* position: absolute; */
}
.page_footer {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 22px;
	padding-top: 31px;
	border-top: 1px dashed #dddddd;
}
.page_footer ul {
	display: flex;
	margin-left: 50%;
	transform: translateX(-30%);

}
.page_footer ul li {
	font-size: 10.67px;
	height: 28px;
	padding: 0 10px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	color: #2a2a2a;
	line-height: 27px;
	cursor: pointer;
	transition: background 0.3s linear;
}
.page_footer ul li:hover {
	background: #e34637;
	color: #fff;
}




















