/*
* @Author: chenjian
* @Date:   2018-05-13 15:42:21
* @Last Modified by:   chenjian
* @Last Modified time: 2018-05-14 11:43:05
*/
*{
	padding: 0px;
	margin: 0px;
}
ul, ol, li {
	list-style: none;
}
a, label, span {
	display: inline-block;
}
a {
	color: #000;
	text-decoration: none;
}
