/*
* @Author: chenjian
* @Date:   2018-04-13 20:42:25
* @Last Modified by:   chenjian
* @Last Modified time: 2018-04-19 10:39:19
*/

/* header start*/

header {
    width: 100%;
    float: left;
    background: #222222;
    position: fixed;
    z-index: 999;
}

header .header_logo {
    padding: 7px 0 7px 10%;
    float: left;
}

header .header_nav ul {
    float: left;
    margin-left: 19px;
}

header .header_nav ul li {
    float: left;
    font-size: 11.38px;
    padding: 18px 10px;
    cursor: pointer;
    transition: background 0.3s linear;
}

header .header_nav ul li:hover {
    background: #080808;
}

header .header_nav ul li a {
    color: #858585;
}

header .header_select {
    float: right;
}

header .header_select {
    padding: 18px 5% 18px 0px;
    font-size: 14px;
}

header .header_select select {
    appearance: none;
    outline: none;
    border: none;
    background-color: #222222;
    color: #858585;
    font-size: 11.38px;
    width: 110px;
    text-align: center;
    font-family: YaHei;
}

.header_nav input {
    display: none;
}

.header_nav input:checked + div[class="mobile"] > label {
    transform: rotate(-90deg);
}

.header_nav input:checked ~ ul {
    margin-top: 0;
    /* display: block; */
    transition: all 0.4s ease-in-out;
    text-align: center;
}

.mobile .mobile_btn {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.4s linear;
}

.mobile .mobile_btn span {
    height: 6px;
    width: 30px;
    display: block;
    background: #ffffff;
    border-radius: 2px;
    margin-bottom: 4px;
}

/* header end */

/* footer start */

footer {
    width: 100%;
    height: 92px;
    background: #3b3b3b;
    float: left;
}

footer .footer_box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
}

footer .footer_list {
    float: left;
    padding-top: 29px;
    padding-bottom: 11px;
    width: 75%;
}

footer .footer_list li {
    font-size: 11.38px;
    font-family: YaHei;
    color: #9c9ea5;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

footer .footer_box p {
    font-size: 9px;
    font-family: YaHei;
    color: #9c9ea5;
    width: 55%;
    float: left;
    clear: both;
}

footer .footer_pic {
    float: right;
    position: absolute;
    right: 0px;
    top: 50px;
    transform: translateY(-50%);
}

footer .footer_pic li {
    height: 31px;
    width: 31px;
    float: left;
    margin-right: 16px;
    border-radius: 50%;
}

footer .footer_pic li:nth-child(1) {
    background: url('../images/index_footer_pic_1.png') no-repeat center center;
}

footer .footer_pic li:nth-child(2) {
    background: url('../images/index_footer_pic_2.png') no-repeat center center;
}

footer .footer_pic li:nth-child(3) {
    background: url('../images/index_footer_pic_3.png') no-repeat center center;
}

/* footer end */

/* media */

@media screen and (max-width: 1200px) {
    .game .game_box {
        width: 90% !important;
    }
}

@media screen and (max-width: 660px) {
    .flash_text ul li {
        width: 100%;
        clear: both;
    }

    .flash_img {
        display: none;
    }

    .flash .flash_text h3 {
        word-wrap: break-word;
        font-size: 20px;
    }

    .merit {
        background: none !important;
        width: 100% !important;
        box-sizing: border-box;
        padding: 0px 10%;
        overflow: hidden;
    }

    .merit .merit_text {
        width: 100%;
    }

    .player_box {
        background: none !important;
    }

    .player_main {
        width: 90% !important;
    }

    .more_list ul {
        display: flex;
        justify-content: center !important;
        flex-wrap: wrap;
    }

    .more_title h1 {
        text-align: center;
    }

    .descript_list_one ul,
    .descript_list_two ul {
        width: 90% !important;
        justify-content: center !important
    }

    .descript_list_one,
    .descript_list_two {
        width: 90% !important;
        float: none !important;
        margin: 0 auto;
    }

    .descript_text_one,
    .descript_text_two {
        width: 90% !important;
        text-align: center !important;
        float: none !important;
        margin: 0 auto;
    }

    .descript_two_box,
    .descript_one_box {
        width: 90% !important;
        margin: 0 auto !important;
        background: none !important;
        float: none !important;
    }
}

@media screen and (max-width: 550px) {
    .header_nav ul {
        margin-top: -500px;
        float: left !important;
    }

    .header_nav ul li {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 14px !important;
        text-align: center;
        line-height: 100%;
    }

    .header_nav ul li a {
        width: 100%;
    }

    .below_right,
    .middle_right {
        width: 100% !important;
        float: right;
    }

    .middle_left,
    .below_left {
        width: 100% !important;
        float: left;
    }

    .middle_box {
        background: url('../images/family_pic_1.png') no-repeat 18% 95%,
        url('../images/family_pic_2.png') no-repeat 81% 95% !important
    }

    .below_box {
        background: url('../images/family_pic_3.png') no-repeat 16% 95%,
        url('../images/family_pic_4.png') no-repeat 79% 95% !important
    }
}

@media screen and (min-width: 550px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 998px) {
    header .header_logo {
        padding: 7px 0 7px 1%;
        float: left;
    }

    header .header_select {
        display: none;
    }

    header .header_nav ul {
        float: right;
        margin-left: 5px;
    }

    header .header_nav ul li {
        float: left;
        padding: 18px 3px;
        transition: background 0.3s linear;
    }

    /* header end */
    .partner_list ul li {
        flex-basis: 25% !important;
    }

    footer .footer_list {
        padding-top: 15px !important;
    }

    .game .game_list {
        transform: translateX(-25%);
    }

    .game .game_video {
        display: none;
    }

    .recruit_text_left {
        width: 100% !important;
        float: left;
    }

    .recruit_box {
        width: 100%;
        margin: 0 auto;
    }

    .recruit_text_left {
        width: 90% !important;
    }

    .recruit_text_right {
        width: 60% !important;
        padding-top: 20px;
        float: right;
    }

    .family_box {
        width: 90% !important;
    }

    .player_box {
        background-size: 30% !important;
    }

    .news_slide ul {
        justify-content: center !important;
    }

    .news_slide ul li {
        flex-basis: 80%
    }

    .game_descript_one {
        margin-top: 280px !important;
    }
}

@media screen and (max-width: 690px) {

    .product .product_text ul li {
        flex-basis: auto !important;
        width: 100%;
        margin-left: 5%;
    }

    .partner_list ul li {
        flex-basis: 33% !important;
    }

    .game .game_list {
        transform: none;
    }

    .intro_box {
        background: none !important
    }

    .intro_text {
        width: 100% !important;
    }

    .contact_list ul li {
        flex-basis: 100% !important;
    }

    .family_box {
        background: none !important;
    }

    .family_text {
        width: 90% !important;
        margin: 0 auto;
    }

    .page_footer ul li {
        font-size: 6px !important;
        padding: 0 2px !important;
        line-height: 27px !important;
    }

    .game_descript_one {
        margin-top: 200px !important;
    }
}

@media screen and (max-width: 550px) {
    .partner_list ul li {
        flex-basis: 40% !important;
    }

    .game_descript_one {
        margin-top: 150px !important;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}