/*
* @Author: chenjian
* @Date:   2018-04-13 20:41:37
* @Last Modified by:   chenjian
* @Last Modified time: 2018-04-18 21:21:13
*/


/* banner start */

.banner {
    width: 100%;
    height: 660px;
    background-color: #2b80d9;
    overflow: hidden;
}
.banner_img {
    /* width:85%; */
    margin: 0 5%;
}

.banner_img img {
    width: 100%;
    height: 100%;
}

/*  banner end*/


/* flash start */

.flash {
    width: 100%;
    height: 640px;
    background: #fbfaf7;
    overflow: hidden;
}


.flash_text h1 {
    font-size: 38.8px;
    color: #0078d7;
    font-family: YaHeiBlod;
}

.flash_text h3 {
    font-size: 24.55px;
    color: #666666;
    font-family: YaHei;
    padding-top: 27px;
    padding-bottom: 64px;
}

.flash_text {
    padding-top: 85px;
    padding-left: 10%;
    float: left;
}

.flash_text ul li span {
    font-size: 15.64px;
    font-family: YaHei;
    color: #333333;
}

.flash_text ul li p {
    font-size: 11.38px;
    color: #666666;
    line-height: 20px;
    font-family: YaHei;
    margin-top: 12px;
}

.flash_text ul {
    height: 300px;
    width: 600px;
}

.flash_text ul li {
    width: 290px;
    height: 80px;
    float: left;
    margin-bottom: 19px;
    margin-right: 10px;
}

.flash_text ul li div {
    float: left;
    height: 64px;
    width: 64px;
    background-color: #0078d7;
    border-radius: 5px;
    padding-right: 12px;
}

.flash_text ul li .flash_bg_1 {
    background: url('../images/index_flash_img_1.png') no-repeat left center;
}

.flash_text ul li .flash_bg_2 {
    background: url('../images/index_flash_img_2.png') no-repeat left center;
}

.flash_text ul li .flash_bg_3 {
    background: url('../images/index_flash_img_3.png') no-repeat left center;
}

.flash_text ul li .flash_bg_4 {
    background: url('../images/index_flash_img_4.png') no-repeat left center;
}

.flash_img {
    margin-top: 110px;
    float: right;
}



/* flash end  */


/* merit start */

.merit {
    width: 100%;
    height: 475px;
    background: url('../images/index_merit_jb.png') no-repeat 15% 65%;
}

.merit_box {
    width: 100%;
}

.merit_text {
    width: 55%;
    float: right;
}

.merit_text h1 {
    padding-top: 95px;
    padding-bottom: 35px;
    font-size: 39px;
    font-family: YaHeiBlod;
    color: #8fc31f;
}

.merit_text ul li {
    font-size: 11.38px;
    font-family: YaHei;
    text-align: left;
    text-indent: 60px;
    height: 44px;
    width: 360px;
    line-height: 44px;
    margin-bottom: 13px;
    margin-left: 5px;
}

.merit_text ul li:nth-child(1) {
    background: url('../images/index_merit_pic_1.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.merit_text ul li:nth-child(2) {
    background: url('../images/index_merit_pic_2.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.merit_text ul li:nth-child(3) {
    background: url('../images/index_merit_pic_3.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.merit_text ul li:nth-child(4) {
    background: url('../images/index_merit_pic_4.png');
    background-position: left center;
    background-repeat: no-repeat;
}


/* merit end */


/* product */

.product {
    /* height: 735px; */
    width: 100%;
    background: #0079d7;
    box-sizing: border-box;
    
}

.product h1 {
    font-size: 39px;
    font-family: YaHeiBold;
    color: #fffefe;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 88px;
}

.product .product_text {
    /* height: 440px; */
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.product .product_text ul li h3 {
    font-size: 27px;
    font-family: YaHei;
    padding-bottom: 13px;
    text-indent: 105px;
}

.product .product_text ul li p {
    font-size: 11.38px;
    margin-left: 105px;
    /* font-family: YaHei; */
    letter-spacing: 0px;
}

.product .product_text ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product .product_text ul li {
    flex-basis: 45%;
    color: #fffefe;
    text-align: left;
    margin-bottom: 7%;
}

.product .product_text ul li:nth-child(1) {
	background: url('../images/index_product_pic_1.png') no-repeat 0% 25%;
}
.product .product_text ul li:nth-child(2) {
	background: url('../images/index_product_pic_2.png') no-repeat 0% 25%;
}
.product .product_text ul li:nth-child(3) {
	background: url('../images/index_product_pic_3.png') no-repeat 0% 25%;
}
.product .product_text ul li:nth-child(4) {
	background: url('../images/index_product_pic_4.png') no-repeat 0% 25%;
}
.product .product_text ul li:nth-child(5) {
	background: url('../images/index_product_pic_5.png') no-repeat 0% 25%;
}
.product .product_text ul li:nth-child(6) {
	background: url('../images/index_product_pic_6.png') no-repeat 0% 25%;
}
/* product end */

/* game start */

.game {
	width: 100%;
	padding-top: 70px;
    padding-bottom: 54px;
    float: left;
    background: #fff
}
.game .game_box {
	height: 250px;
    width: 75%;
	margin: 0 auto;
}
.game h1 {
	font-size: 28px;
	font-family: YaHei;
	color: #2a2a2a;
	float: left;
	padding-bottom: 36px;
}
.game .game_text span {
	float: right;
	color: #303030;
	font-size: 11.38px;
}

.game .game_text {
	width: 100%;
	float: left;
}
.game .game_video {
    /* width: 30%; */
	float: left;
    cursor: pointer;
}
.game .game_list ul li {
	height: 75px;
	width: 57px;
	flex-basis: 16.666666666666668%;
	margin-bottom: 25px;
	box-sizing: border-box;
    cursor: pointer;
}
.game .game_list {
	height: 175px;
	width: 475px;
	float: right;
}
.game .game_list ul {
	display: flex;
	flex-flow: row wrap;
}
.game .game_list ul li img {
	display: block;
	margin: 0 auto;
}
.game .game_list ul li span {
	font-size: 11.38px;
	display: block;
	line-height: 17px;
	font-family: YaHei;
	text-align: center;
}

/* game end */

/* partnet start */

#partner {
    background: #f4f4f4;
    width: 100%;
    float: left;
}
.partner_box {
    width: 80%;
    margin: 0 auto;
}

.partner_title h1 {
    padding-top: 40px;
    font-size: 30px;
    /* width: 80%; */
    color: #2a2a2a;
    font-family: YaHei;
}
.partner_title h1::after {
    content: "(排序不分先后)";
    color: #969696;
    font-size: 11.21px;
    clear: both;
}
.partner_list {
    padding-top: 34px;
    padding-bottom: 68px;
}
.partner_list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
}

.partner_list ul li{
    flex-basis: 15%;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
}
.partner_list ul li a {
    display: block;
}
.partner_list ul li a img {
    width: 116px;
    margin: 0 auto;
    padding: 0px 10px;
}

/* partner */








