* {
	padding: 0;
	margin: 0;
}
ul, ol ,li {
	list-style: none;
}
a,span,label {
	display: inline-block;
}
a {
	text-decoration: none
}



@font-face {
	font-family: Sim;
	src: url('../font/simheittf.ttf');
}
@font-face {
	font-family: YaHei;
	src: url('../font/MicrosoftYaHei.ttf');
}
@font-face {
	font-family: YaHeiBold;
	src: url('../font/MicrosoftYaHeiBold..ttf');
}


















