/*
* @Author: chenjian
* @Date:   2018-05-22 09:26:03
* @Last Modified by:   chenjian
* @Last Modified time: 2018-05-22 11:57:06
*/
.descript {
  background: #f4f4f4;
  padding: 30px 0; }
  .descript .col-md-3 {
    padding: 0 30px; }
    .descript .col-md-3 img {
      margin: 0 auto;
      padding-bottom: 20px; }
    .descript .col-md-3 p {
      text-align: center;
      color: #515862;
      font-size: 11px; }
    .descript .col-md-3 h4 {
      text-align: center;
      color: #515862;
      font-size: 17px; }

.photo {
  background: #2e3e4f;
  padding-bottom: 55px; }
  .photo .photo_title {
    padding-top: 55px;
    padding-bottom: 64px; }
    .photo .photo_title h4 {
      color: #f98561;
      font-size: 30px; }
    .photo .photo_title a {
      margin-top: 15px; }
  .photo ul li h5 {
    color: #f98561;
    font-size: 17px; }
  .photo ul li p {
    font-size: 11px;
    color: #bcbcbc; }

.offer .offer_title {
  padding: 0 80px; }
  .offer .offer_title h1 {
    text-align: center;
    color: #2190c1;
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 20px; }
  .offer .offer_title p {
    text-align: center;
    color: #515862;
    font-size: 12px;
    padding-bottom: 25px; }
.offer .test_list li h4 {
  text-align: center; }
.offer .test_list li p {
  color: #515862;
  font-size: 11px;
  text-align: center; }
.offer .offer_next .next_title {
  padding: 0 80px; }
  .offer .offer_next .next_title h1 {
    text-align: center;
    color: #2190c1;
    font-size: 27px;
    padding: 35px 0px; }
  .offer .offer_next .next_title p {
    color: #515862;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px; }
.offer .offer_next .next_icon h5 {
  text-align: center;
  color: #f98561;
  font-size: 14px;
  margin-bottom: 30px; }
.offer .offer_next .next_icon input[type="radio"] {
  display: none; }
.offer .offer_next .next_icon #icon_btn1:checked ~ ul li .icon_btn1 {
  -webkit-filter: grayscale(0); }
.offer .offer_next .next_icon #icon_btn2:checked ~ ul li .icon_btn2 {
  -webkit-filter: grayscale(0); }
.offer .offer_next .next_icon #icon_btn3:checked ~ ul li .icon_btn3 {
  -webkit-filter: grayscale(0); }
.offer .offer_next .next_icon .icon_list {
  display: flex;
  justify-content: center; }
  .offer .offer_next .next_icon .icon_list li {
    margin-left: 5px; }
    .offer .offer_next .next_icon .icon_list li label {
      -webkit-filter: grayscale(100%); }
      .offer .offer_next .next_icon .icon_list li label p {
        text-align: center;
        margin-top: 20px;
        background: #f88560;
        height: 25px;
        width: 70px;
        line-height: 20px; }
