/*
* @Author: chenjian
* @Date:   2018-05-05 01:47:47
* @Last Modified by:   chenjian
* @Last Modified time: 2018-05-05 21:32:16
*/

.slide {
    width: 100%;
    overflow: hidden;
    position: relative;
    span {
        position: absolute;
        font-size: 60px;
        color: #fff;
        cursor: pointer;
    }
    .prev {
        left: 15px;
        top: 50%;
        transform: translateY(-50%)
    }
    .next {
        right: 15px;
        top: 50%;
        transform: translateY(-50%)
    }
    .slide_icon {
    	&::after {
    		content:"";
    		display: block;
    		clear:both;
    	}
        width: 600%;
        margin-left: -100%;
        li {
            float: left;
            img {
            	width:100%;
            }
        }
    }
}

.product_show {
    padding: 26px 23px;
    position: relative;
    h1 {
        font-size: 30px;
        color: #000;
    }
    p {
        color: #6c6c6c;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
        .price {
            color: #f00;
        }
    }
    .star {
        position: relative;
        border-bottom: 1px solid #b5b5b5;
        overflow: hidden;
        padding-bottom: 26px;
        &::after {
            content: "(201)";
            display: block;
            float: left;
            font-size: 25px;
            color: #6c6c6c;
            clear: both;
            position: absolute;
            left: 300px;
            top: 5px;
        }
        li {
            float: left;
            margin-right: 24px;
        }
    }
    .cart {
        a {
            width: 104px;
            height: 104px;
            border-radius: 50%;
            position: absolute;
            right: 23px;
            top: 43px;
            background: url("../images/cart.png") no-repeat center center;
            background-color: #ffbf25;
        }
    }
}

.desc {
    padding-left: 26px;
    h1 {
        font-size: 45px;
        color: #000;
        padding-bottom: 15px;
    }
    p {
        color: #6c6c6c;
        font-size: 22px;
        line-height: 30px;
    }
}