/*
* @Author: chenjian
* @Date:   2018-05-05 01:47:47
* @Last Modified by:   ChrisChen
* @Last Modified time: 2018-05-27 17:15:50
*/
.slide {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .slide span {
    position: absolute;
    font-size: 60px;
    color: #fff;
    cursor: pointer; }
  .slide .prev {
    left: 15px;
    top: 50%;
    transform: translateY(-50%); }
  .slide .next {
    right: 15px;
    top: 50%;
    transform: translateY(-50%); }
  .slide .slide_icon {
    width: 600%;
    margin-left: -100%;
    display: flex; }
    .slide .slide_icon li {
      flex-basis: 100%; }
      .slide .slide_icon li img {
        width: 100%; }

.product_show {
  padding: 26px 23px;
  position: relative; }
  .product_show h1 {
    font-size: 30px;
    color: #000; }
  .product_show p {
    color: #6c6c6c;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .product_show p .price {
      color: #f00; }
  .product_show .star {
    position: relative;
    border-bottom: 1px solid #b5b5b5;
    overflow: hidden;
    padding-bottom: 26px; }
    .product_show .star::after {
      content: "(201)";
      display: block;
      float: left;
      font-size: 25px;
      color: #6c6c6c;
      clear: both;
      position: absolute;
      left: 300px;
      top: 5px; }
    .product_show .star li {
      float: left;
      margin-right: 24px; }
  .product_show .cart a {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    position: absolute;
    right: 23px;
    top: 43px;
    background: url("../images/cart.png") no-repeat center center;
    background-color: #ffbf25; }

.desc {
  padding-left: 26px; }
  .desc h1 {
    font-size: 45px;
    color: #000;
    padding-bottom: 15px; }
  .desc p {
    color: #6c6c6c;
    font-size: 22px;
    line-height: 30px; }
